<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=BLGWS187\SQLEXPRESS;Initial Catalog=dbTestlessMVC;Integrated Security=False;User ID=dbUserTestlessMVC;Password=Pa$$word1;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>